<div class="tile wide text">
    <h1 class="column-text">新闻资讯</h1>
</div>
<div class="tile wide text">
    <h1 class="column-text">推荐博客</h1>
</div>
<div class="tile wide text">
    <h1 class="column-text">最新博客</h1>
</div>